---
import { Icon } from "astro-icon/components";
---

<nav>
  <Icon name="logo" />
  <ul>
    <li>
      <a href="">work</a>
    </li>
    <li>
      <a href="">about</a>
    </li>
    <li>
      <a href="">news</a>
    </li>
    <li>
      <a href="">thinking</a>
    </li>
    <li>
      <a href="">carrers</a>
    </li>
    <li>
      <a href="">contact</a>
    </li>
  </ul>
  <Icon name="points" />
</nav>

<style>
  nav {
    width: 100%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
  }
</style>
