---
import { Icon } from "astro-icon/components";
import NavLink from "../components/NavLink.astro";
---

<div>
  <nav>
    <Icon name="logo" width={200} height={40} />
    <ul>
      <li>
        <NavLink location="" text="work" />
      </li>
      <li>
        <NavLink location="" text="about" />
      </li>
      <li>
        <NavLink location="" text="news" />
      </li>
      <li>
        <NavLink location="" text="thinking" />
      </li>
      <li>
        <NavLink location="" text="carrers" />
      </li>
      <li>
        <NavLink location="" text="contact" />
      </li>
    </ul>
    <Icon name="points" width={40} height={10} />
  </nav>
</div>

<style>
  div {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 2rem;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;

    li {
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
</style>
