---
interface Props {
  location: string;
  text: string;
}
const { location, text } = Astro.props;
---

<a href={location}>{text}</a>

<style>
  a {
    all: unset;
    cursor: pointer;
    position: relative;
    padding-bottom: 2px;
  }
  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #f4f4f4;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  a:hover::before {
    transform: scaleX(1);
  }
  .mouse-enter::before {
    transform-origin: top left;
  }
  .mouse-leave::before {
    transform-origin: top right;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const linkElements = document.querySelectorAll("a");

    linkElements.forEach((linkElement) => {
      linkElement.addEventListener("mouseenter", () => {
        linkElement.classList.remove("mouse-leave");
        linkElement.classList.add("mouse-enter");
      });

      linkElement.addEventListener("mouseleave", () => {
        linkElement.classList.remove("mouse-enter");
        linkElement.classList.add("mouse-leave");
      });
    });
  });
</script>
